fastapi==0.115.9
uvicorn[standard]==0.32.1
python-multipart
httpx==0.28.1
pydantic
pydantic-settings
langchain-google-genai==2.0.10
langchain-core==0.3.63
google-genai==1.48.0
pillow==10.4.0
requests==2.32.5
python-dotenv
aiofiles
sqlalchemy
psycopg2-binary==2.9.10
passlib[bcrypt]==1.7.4
bcrypt==4.3.0
python-jose[cryptography]==3.4.0
redis==6.2.0
tos==2.8.4
moviepy
pydantic[email]
jinja2
fastapi[all]